@media only screen and (max-width: 780px) {

    .col {
        width: 100%;
    }

    .header, .main {
        padding: 0 3rem;
    }

    .main {

        .container {
            margin-top: 4rem;

            .form {
                width: 100%;
            }

            .filter {
                margin-top: 7rem;
            }
        }
        
        .row {
            margin-top: 10rem;

            .col {
                margin: 5rem 4rem 0;
            }

            .col_country {
                width: 100%;

                &:first-child {
                    margin-top: 0;
                }

                .container_img {
                    height: auto;
                }

                .col_country_list {
                    flex-direction: column;

                    .list {
                        margin-bottom: 8rem;
                    }
                }
            }

            .margin_left {
                margin-left: 0;
            }
        }
    }
}