@import "reset";
@import "variables";
@import "mixins";
@import "fonts";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
  background-color: $dark_mode_background;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.col {
  width: 50%;
}

// HEADER 
.header {
  height: 8rem;
  background-color: $dark_mode_elements;
  padding: 0 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 1.8rem;
    color: $white_color;
    font-weight: 800;
  }

  .button {
    display: inline-block;
    background-color: transparent;
    color: $white_color;
    font-weight: 300;
    letter-spacing: 0.1rem;
    border: none;
    outline: none;
  }
}